<nav>
    <div class = "site-title">
    <a href = "/"> <h1>TSRO Gas Station</h1> </a>
    <p>Automated fuel sale tracking system and inventory tracking system</p>
    </div>

<ul>
    <li><a href ="/" class = "activelink"> Fuel </a></li>
    <li><a href ="/station/product" class = "activelink"> Products </a></li>
    <li><a href ="/station/product-create" class = "activelink"> Add Product </a></li>
    <li><a href ="/station/sales" class = "activelink"> Sales </a></li>

</ul>

</nav>