<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    
    <%- include("./partials/nav.ejs") %>

    <div class = "not-found content">
        OOPS PAGE NOT FOUND
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>